@using Online_Ticari_Otomasyon_1_MVC5.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>SatisDetay</h2>
<br />


<table class="table table-condensed">
  
        <tr>
            <th>Satış ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th>Tarih</th>

        </tr>

        @foreach (var x in Model)
        {
            <tr>
                <td>@x.SatisID</td>
                <td>@x.Urun.UrunAD</td>
                <td>@x.Cariler.CariAD @x.Cariler.CariSoyad</td>
                <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
                <td>@x.Fiyat</td>
                <td>@x.Adet</td>
                <td>@x.Toplamtutar</td>
                <td>@x.Tarih</td>

            </tr>
        }
</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>
